body.theme-default {
    background-color: #e3f2fd;
}

body.theme-light {
    background-color: #ffffff;
    color: #000;
}

body.theme-dark {
    background-color: #212529;
    color: #fff;
}

.container {
    max-width: 600px;
}
